{
  "extends": [
    "next/core-web-vitals",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "@next/next/no-img-element": "off"
  },
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    "pnpm-lock.yaml"
  ]
}
